@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Chinook Music Store</h1>
    <p>Welcome! Access inventory by selecting 'Albums' in the navigation bar.</p>
    <p>Refer to the User Manual for additional assistance.</p>
</div>
