/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* new */
.grid-albums {
  display: grid;
  position: relative;
  padding: 1rem 0rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 0.75rem; 
  width: 100%;
  max-width: 72rem;
  min-height: 0;

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.album-card {
  background-color: #F5F1ED;
  background-size: auto;
  flex: 1 100px;
  flex-direction: column;
  flex-wrap: nowrap;

  border-radius: 0.5rem;

  padding: 0.5rem 1rem 0.5rem 1rem;

  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));

}

.album-card:hover{
  background-color: #D4CEC7;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
}

.album-card-text {
  grid-column: span 2 / span 2;
}

.album-card-edit {
  display: flex;
  justify-content: flex-end;
  flex-direction: column; 
  justify-items: end; 
  justify-self: end;
}

.album-card-filter {
  display: flex;
  flex-direction: row; 
  padding-left: 1rem;
}

.text-overflow-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;

  text-decoration: none;
}

.text-overflow-artist {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: #636363;
}

.text-overflow-options {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: #636363;

  display: flex;
  justify-content: flex-end;
  padding-right: 1rem; 
}

p {
  padding-bottom: 0;
  margin-bottom: 0;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: inherit;
}
 

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  /* Vertically center the text there */
}