@model TracksViewModel
@using ChinookEntities
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracks</title>
</head>

<body>
    <h3>@Model.albumTitle</h3>
    <h4>(@Model.artistName)</h4>
    <p>Tracks</p>
    <ol>
        @foreach (Track track in @Model.Tracks)
        {
            <li>@track.Name</li>
        }
    </ol>

    <p><a href="~/Albums/Index">back</a></p>
</body>

</html>